body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ff9d00;
background: linear-gradient(90deg,rgba(255, 157, 0, 1) 0%, rgba(65, 43, 255, 1) 50%, rgba(247, 0, 95, 1) 100%);
}

.logo {
    width: 150px;
}

header {
    display: flex;
    align-items: center;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

nav {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
    padding-left: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: magenta;
}

main {
    margin-top: 10em;
    padding-bottom: 5em;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 20px;
    background: #00ff22;
background: linear-gradient(90deg,rgba(0, 255, 34, 1) 0%, rgb(130, 130, 216) 51%, rgba(156, 0, 247, 1) 100%);
}

.products{
    padding: 3em;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3em;
}

.product {
    border: 1px solid black;
    padding: 20px;
    background: #ff2bf4;
background: linear-gradient(90deg,rgba(255, 43, 244, 1) 0%, rgba(255, 0, 0, 1) 51%, rgba(234, 255, 0, 1) 100%);
    width: 150px;
    height: 150px;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 20px;
    background: #ffebbd;
background: linear-gradient(90deg,rgba(255, 235, 189, 1) 0%, rgba(0, 156, 117, 1) 51%, rgba(255, 61, 181, 1) 100%);
}